.jumbotron {
    background-color: #ffffff;
    text-align: center;
    padding-top: 20px;
    margin-top: 5px;
    border-color: #feb825;
    border: 1px solid #5cb85c;
}

.add {
  background-color: #6acdf4;
}

.App {
  background-color: #6acdf4;
  text-align: center;
  display: block;
}

#root {
  background-color: #6acdf4;
}

body {
  background-color: #6acdf4;
}

.container {
  width: 100%;
}

.ul {
  display: block;
}

.col {
  width: 100%;
}

.signOut {
  text-align: left;
}

.btn {
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.rotate {
   -webkit-transform: rotate(180deg);
}
img {
  margin-top: 3px;
  margin-bottom: 3px;
  border-color: #feb825;
  border: 1px solid #5cb85c;
}
