.jumbotron {
    background-color: #ffffff;
    text-align: center;
    padding-top: 20px;
    margin-top: 5px;
    border-color: #feb825;
    border: 1px solid #5cb85c;
}

.add {
  background-color: #353535;
}

.App {
  background-color: #6acdf4;
  text-align: center;
}

#root {
  background-color: #6acdf4;
}

body {
  background-color: #6acdf4;
}
